doctype html
html
  head
    title Editar Admisión
  body
    h1 Editar Admisión ##{admision.id}

    form(action=`/admision/vista/${admision.id}/editar`, method='POST')
      div
        label(for='motivo') Motivo:
        input(type='text', name='motivo', id='motivo', value=admision.motivo required)

      div
        label(for='turno_id') ID del Turno:
        input(type='number', name='turno_id', id='turno_id', value=admision.turno_id required)

      div
        label(for='paciente_id') ID del Paciente:
        input(type='number', name='paciente_id', id='paciente_id', value=admision.paciente_id required)

      button(type='submit') Guardar Cambios
      a(href='/admision/vista') Cancelar
